{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "bracketSpacing": false,
  "semi": true,
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "endOfLine": "crlf",
  "insertPragma": false,
  "printWidth": 120,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "ignore": ["*"]
}